<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= yield %>
    <p>Your friends at, <br />
    The FaceSpace Team.
    </p>
    <p>Sent by FaceSpace.com</p>
  </body>
</html>