<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= link_to(image_tag('mail.png'), root_url ) %>
    <%= yield %>
    <p>Your friends at, <br />
    The FaceSpace Team.
    </p>
    <p>Sent by FaceSpace.co</p>
  </body>
</html>